#root {
  max-width: 1280px;
  padding: 2rem;
  margin-right: auto;
  margin: 0;
  padding-top: 70px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 8px;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color:rgb(4, 179, 156);
}

nav a.active {
  border-bottom: 2px solid rgb(4, 179, 156);
  padding-bottom: 4px;
}



input {
  width: 200px;              /* Sabit genişlik veya % kullanabilirsin */
  height: 32px;
  padding: 6px 12px;         /* İçerik rahat olsun */
  border-radius: 8px;
  font-size: 1.1rem;
  border: 1.5px solid #ccc;
  outline-color: #04b39c;    /* Odaklanınca renk */
  transition: border-color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
  border-color: #04b39c;
}

button {
  background-color: #04b39c;
  color: white;
  font-size: 1.1rem;
  height: 36px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #029f8a;
}

form{
  display: flex;
  align-items: center;
  gap: 12px;
}
a {
  color: inherit;
  text-decoration: none;
}

.movie-details a  {
  color: #333;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.movie-details a:hover {
  background-color: #f0f0f0;
  color: #04b39c;
}

.movie-details a.active {
  background-color: #04b39c;
  color: white;
}
.goback-btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #444;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.goback-btn:hover {
  background-color: #04b39c;
  color: white;
}
/* Liste noktalarını kaldır */
.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 800px;
  padding-left: 1rem;
}

/* Liste elemanlarını biraz boşluklu ve hover'lı yap */
.movie-list li {
  margin-bottom: 0.75rem;
  transition: background-color 0.3s ease;
  text-align: left;
}

/* Link stili */
.movie-list li a {
  text-decoration: none;
  color: #222;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover efekti */
.movie-list li a:hover {
  background-color:#04b39c ;
  color: white;
}
